#blueELe{
    color: rgb(0, 81, 255);
    background-color: rgb(0, 0, 0) ;
}
#redEle{
    color: red;
    background-color: rgb(0, 153, 255);
}
footer,span{
    background-color: pink;
}
/* This is a CSS comment */
/*This is diff from html comment*/